@mixin s-ripple() {
	@include s-ripple-bare();
	@include s-ripple-style();
}
@keyframes s-ripple {
	0% {
		opacity:1;
		transform:translateX(-50%) translateY(-50%) scale(0,0);
	}
	100% {
		opacity:0;
		transform:translateX(-50%) translateY(-50%) scale(1,1);
	}
}
@mixin s-ripple-bare() {
	@include s-component('s-ripple') {

	}
}
@mixin s-ripple-style(
) {
	@include s-component('s-ripple') {
		/**
		 * @name 	Ripple
		 * Display a ripple on click
		 * @styleguide 	Objects / Ripple
		 * @example 	html
		 * <div style="height:500px; position:relative;">
		 * 	<#{s-component()}></#{s-component()}>
		 * 	<div style="position:absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%)">
		 * 	 Click to see the ripple effect in action
		 * 	</div>
		 * </div>
		 */
		background:rgba(0,0,0,.3);
		@include s-animation(s-ripple .3s ease-out);
	}
}

@mixin s-ripple-classes() {
	@include s-ripple-classes-bare();
	@include s-ripple-classes-style();
}

@mixin s-ripple-classes-bare() {
	@include s-component('s-ripple') {
	}
}
@mixin s-ripple-classes-style() {
	@include s-component('s-ripple') {
		.#{s-component()}__particle {
			@include s-ripple-style();
		}
	}
}
